body {
    font-family: 'Open Sans' !important;
    background-color: #FCFCFC;
}

.bg-light {
    background-color: #F4F4F4 !important;
}

.nav-link {
    color: #A6A7AF !important;
}

.nav-link:hover {
    color: #2D3040 !important;
}

.form-border {
    height: max-content;
    width: 350px;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;


    background: #FCFCFC;
    box-shadow: 0px 0px 50px #DDDDDD;
    border-radius: 20px;
}

#form-form,
.form-control {
    color:#888888;
}

#form-form {
    margin-top: 64px;
}

.form-control { 
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #A6A7AF;
    background-color: #F7F7F7;
    border:2px solid  #F7F7F7;
    border-radius: 30px;
}

.form-control:focus,
.form-control:hover,
.form-control:active{
    box-shadow: none;
    border:2px solid #FFCF07;
    background-color: #F7F7F7;
}

.form-control::placeholder {
    color: #A6A7AF
}

.form-check-input {
    background-color: #F7F7F7 !important;
    border: 1px solid #e9e7e7 !important;
    border-radius: 30px !important;
}

.form-check-input:focus,
.form-check-input:hover{
    background-color: #ffe478 !important;
    box-shadow: 0 0 0 0.2rem #ffe478 !important;
}

.form-check-input:checked {
    background-color: #FFCF07 !important;
    border: 1px solid #FFCF07 !important;
    border-radius: 30px !important;
}

.form-check-label {
    color: #A6A7AF !important;
}

input {
    margin: 16px auto;
}

.btn {
    margin-bottom: 32px;
    margin-top: 64px;
    color: #A6A7AF;
    background: #F7F7F7;
}

.btn:focus,
.btn:active,
.btn:hover {
    color: #2D3040;
    background: #FFCF07;
}

.in_card {
    margin-top: 10%;
    margin-bottom: auto;
    border-radius: 30px;
}

.in_card:focus,
.in_card:active,
.in_card:hover {
    border: 1px solid #FFCF07 !important;
    background-color: #F7F7F7 !important;
}

.dashboard_btn,
.dashboard_btn:focus,
.dashboard_btn:active,
.dashboard_btn:hover {
    color: #2D3040;
    background: #FFCF07;
    border: 1px solid #FFCF07
}

.search_btn {
    color: #2D3040;
    background: #FCFCFC;
    border: 2px solid #FFCF07;
}

.dashboard_card {
    margin-top: 2%;
}

.card {
    border: 0 !important;
    border-radius: 30px !important;
    box-shadow: 0px 0px 50px #DDDDDD !important;
}

.dashboard {
    margin-top: 1%;
}
