{% extends 'base.html' %}

{% block title %}Create Group{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <section class="form-border">

            <form method="post" id="form-form">
                {{ form.csrf_token }}

                <div class="col-sm-10 offset-sm-1">
                    <input class="form-control" name="name" id="name" placeholder="Name" value="{{ form.name.data }}">
                </div>

                <div class="col-sm-10 offset-sm-1">
                    <textarea class="form-control" name="party" id="party" placeholder="Party" value="{{ form.party.data }}"></textarea>
                </div>

                <div class="col-sm-10 offset-sm-1">
                    <input type="submit" class="btn form-control" value="Add">
                </div>
            </form>
        </section>
    </div>
</section>
{% endblock %}
