{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <section class="login-border">

            <form method="post" id="login-form">

                <div class="col-sm-10 offset-sm-1">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Name">
                </div>

                <div class="col-sm-10 offset-sm-1">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>

                <div class="col-sm-10 offset-sm-1">
                    <input class="form-check-input" type="checkbox" name="remember" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Remember me
                    </label>
                </div>

                <div class="col-sm-10 offset-sm-1">
                    <input type="submit" class="btn form-control" value="Login">
                </div>
            </form>
        </section>
    </div>
</section>
{% endblock %}